{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    // "extends": ["eslint:recommended", "google"],
    "rules": {
        "linebreak-style": 0,
        "global-require": 0,
        "eslint linebreak-style": [0, "error", "windows"],
        "arrow-parens": "off",
        "comma-dangle": "off",
        "operator-linebreak": "off",
        "indent":"off",
        "require-jsdoc": "off",
        "no-debugger": "off",
        "max-len": ["error", { "code": 2222 }]
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "parser": "babel-eslint"
}