{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "linebreak-style": ["error", "windows"],
        "arrow-parens": "off",
        "comma-dangle": "off",
        "operator-linebreak": "off",
        "indent": ["error", 4]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}